.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS files ###
.DS_Store

### Scripts ###
/run.sh
/local.sh

### JavaScript ###
*.js
!jest.config.js
*.d.ts
node_modules

### CDK asset staging directory ###
.cdk.staging
cdk.out

# Ignored folders
python/
venv/
.venv/
.env
